* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header--primary {
    width: 100%;
    height: 6vh;
    background-color: black;
}

.header--primary ul{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 6vh;
}

.header--primary ul li a{
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.header--primary ul li a:hover{
    text-decoration: underline;
}
.header--primary .material-icons {
    line-height: 6vh;
    font-size: 18px;
    margin-right: 12px;
    color: #fff;
}

header .header--secondary {
    display: flex;
    height: 17vh;
    align-items: center;
    width: 100%;
}


.logo img {
    width: 100%;
    height: 100%;
}

header .header--secondary .h-menu {
    display: flex;
    
    justify-content: center;
    align-items: center;
    line-height: 6vh;
}



header .header--secondary .h-menu li a {
    text-decoration: none;
    font-size: 14px;
    margin: 0 20px;
    color: black;
    font-weight: bold;
}

header .header--secondary .h-menu li:hover{
    text-decoration: underline;
}

header {
    background: #fff;
    height: 120px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}



#btn--open {
    width: 9%;

    text-align: center;
    
}
.main {
    width: 8%;
    height: 38%;
}

.h-menu{
    width: 21%;
}

/* Search Box */
.search {
    width: 40%;
    height: 52%;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 40px;
    display: flex;
}

#search__box {
    width: 80%;
    height: 100%;
    background: 0;
    border: 0;
}

#search, #camera {
    width: 10%;
    text-align: center;
}

.icons{
    width: 22%;
}

.icons ul {
    display: flex;
    justify-content: center;
}

.icons ul li {
    margin: 10px;
}

.icons ul li a{
    color: black;
}

section {
    
    height: 70vh;
    width: 85%;
    display: flex;
    margin: 40px auto;
}

.main-image {
    width: 65%;
    height: 100%;
    margin: 0 auto;
}

.main-image img {
    width: 100%;
    height: 100%;
}
.promotion {
    width: 35%;
    height: 100%;
    background-color:rgb(252, 227, 5);
    padding: 60px 50px;
}

.look-btn {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    margin-top: 30px;
    font-size: 12px;
}

.look-btn a {
    color: white;
    text-decoration: none;
}


.promotion p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.promotion p{
    font-size: 14px;
}