body {
  padding: 4rem;
  white-space: nowrap;
  display: flex;
  font-family: 'Nanum Pen Script', cursive;
}

img {
  width:600px;
  height:500px;
}

.poem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  width: 50%;
  margin-bottom: 2.5rem;
  cursor: pointer;
}

#title {
  text-align: left;
  font-size: 2.7rem;
  font-weight: 550;
  color: #ffadad;
  
}

.text {
  width: 50%;
  font-size: 1.7rem;
  line-height: 2.3rem;
}

.flower+.flower {
  margin-bottom: 2.25rem;
}

p {
  color:#52b788;
}